

.cv-header {

  border-left: 30px solid #133926;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  text-align: right;
  background-color: #00cc99;
  padding: 20px 0 20px 0;
}

.header-text {
  margin-right: 100px;

}

img {
  width: 15%;
  position: fixed;
  top: 90px;
  left: 60px;
  border-radius: 100%;
  border: 5px solid black;
}

.cv-body {

  border-left: 30px solid #133926;
  padding-top: 350px;
  overflow: hidden;
  padding-left: 275px;

}
